<h1>My Blogs</h1>

<!-- search the blogs -->
<form method="get" action="/blogs">
  <input type="text" name="search" value="{{params.search}}" />
  <button>Search</button>
</form>

<!-- display by tags -->
<a href="/blogs?tag=beach">Beach blogs</a>
<a href="/blogs?tag=business">Business travel blogs</a>

<!-- display by category -->
<a href="/blogs?category=adventure">Adventure travel</a>
<a href="/blogs?category=food">Restaurants</a>

<!-- display the list of blogs -->
{% if blogs.size > 0 %}
<ul>
{% for blog in blogs %}
  <h3><a href="/blog/{{blog.permalink}}">{{blog.title}}</a></h3>
  {{blog.content}}
  <p>
    by <a href="{{blog.author.link}}">{{blog.author.name}}</a> 
    on {{blog.created_at | date: '%m/%d/%Y'}}
    in <a href="/blogs?category={{blog.category.permalink}}">{{blog.category.title}}</a>
  </p>
{% endfor %}
</ul>
{% else %}
<p>Oops! No posts as yet</p>
{% endif %}

